# Python
*.py[cod]
__pycache__/
*.so
.Python
*.egg-info/
.installed.cfg
*.egg

# Directories and Files
config.py
aider_env/
dev/
images/
main/
requirements/
tests/
working/
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Project specific
*.log
*.sqlite3
*.db

# Sensitive information
*.pem
*.key
*.cert
*.json

# Add any other project-specific files or directories you want to ignore
.aider*
.env.yaml
